.div-container {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}
.row {
  display: flex;
  flex: 1;
}
.sketch {
  border: 1px solid #ccc;
}

.sketch:hover {
  /* background-color: rebeccapurple; */
  background-color: black;
}

.my-color-class {
  background-color: black;
}

/* .sketch :hover {
  background-color: aliceblue;
} */
